@if (dataSource) {
  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" multiTemplateDataRows>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="main-row"
        [class.example-expanded-row]="expanded === element" (click)="toggleRow(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['details']" class="detail-row"></tr>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Vezetéknév</th>
      <td mat-cell *matCellDef="let element"> {{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Keresztnév</th>
      <td mat-cell *matCellDef="let element"> {{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="birthName">
      <th mat-header-cell *matHeaderCellDef>Születési név</th>
      <td mat-cell *matCellDef="let element"> {{ element.birthName }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefonszám</th>
      <td mat-cell *matCellDef="let element"> {{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="taxNumber">
      <th mat-header-cell *matHeaderCellDef>Adószám</th>
      <td mat-cell *matCellDef="let element"> {{ element.taxNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="detail-view" [@showDetails]="element == expanded ? 'expanded' : 'collapsed'">
          <hr>
          <div>Vezetéknév: {{ element.lastName }}</div>
          <div>Keresztnév: {{ element.firstName }}</div>
          <div>Születési név: {{ element.birthName }}</div>
          <div>Anyja neve: {{ element.mothersName }}</div>
          <div>Nem: {{ element.gender?.name }}</div>
          <div>Nemzetiség: {{ element.nationality.name }}</div>
          @for (address of element.addresses; track address) {
            <div>{{ getAddressType(address.type) }}: {{ address.city }} {{ address.street }} {{ address.number }}</div>
          }
          <div>Telefon: {{ element.phone }}</div>
          <div>Adószám: {{ element.taxNumber }}</div>
        </div>
      </td>
    </ng-container>


  </table>
  <div class="container">
    <div class="row text-center pt-2">
      <div>
        <button type="button" class="btn btn-primary" (click)="open(new)">Új személy felvétele</button>
      </div>
    </div>
  </div>


}
<ng-template #new let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Új személy felvétele</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <form [formGroup]="newUserFormGroup" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="w-100">
        <p>
          <label for="lastName">Vezetéknév</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </p>
        <p>
          <label for="firstName">Keresztnév</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </p>
        <p>
          <label for="birthName">Születési név</label>
          <input type="text" class="form-control" id="birthName" formControlName="birthName">
        </p>
        <p>
          <label for="mothersName">Anyja neve</label>
          <input type="text" class="form-control" id="mothersName" formControlName="mothersName">
        </p>
        <p>
          <label for="gender">Nem (opcionális)</label>
          <select id="gender" class="form-control" formControlName="gender">
            <option selected></option>
            @for (gender of genders; track gender) {
              <option value="{{gender.id}}">{{ gender.name }}</option>
            }
          </select>
        </p>
        <p>
          <label for="nationality">Nemzetiség</label>
          <select id="nationality" class="form-control" formControlName="nationality">
            <option selected></option>
            @for (nationality of nationalities; track nationality) {
              <option value="{{nationality.id}}">{{ nationality.name }}</option>
            }
          </select>
        </p>
        <p>
          <label for="phone">Telefon</label>
          <input type="text" class="form-control" id="phone" formControlName="phone">
        </p>
        <p>
          <label for="taxNumber">Adószám</label>
          <input type="text" class="form-control" id="taxNumber" formControlName="taxNumber">
        </p>
        <p>
          <label for="permanentPostCode">Állandó lakcím irányítószám</label>
          <input type="text" class="form-control" id="permanentPostCode" formControlName="permanentPostCode">
        </p>
        <p>
          <label for="permanentCity">Állandó lakcím város</label>
          <input type="text" class="form-control" id="permanentCity" formControlName="permanentCity">
        </p>
        <p>
          <label for="permanentStreet">Állandó lakcím utca</label>
          <input type="text" class="form-control" id="permanentStreet" formControlName="permanentStreet">
        </p>
        <p>
          <label for="permanentNumber">Állandó lakcím házszám</label>
          <input type="text" class="form-control" id="permanentNumber" formControlName="permanentNumber">
        </p>
        <p>
          <label for="mailPostCode">Levelezési cím irányítószám</label>
          <input type="text" class="form-control" id="mailPostCode" formControlName="mailPostCode">
        </p>
        <p>
          <label for="mailCity">Levelezési cím város</label>
          <input type="text" class="form-control" id="mailCity" formControlName="mailCity">
        </p>
        <p>
          <label for="mailStreet">Levelezési cím utca</label>
          <input type="text" class="form-control" id="mailStreet" formControlName="mailStreet">
        </p>
        <p>
          <label for="mailNumber">Levelezési cím házszám</label>
          <input type="text" class="form-control" id="mailNumber" formControlName="mailNumber">
        </p>
        <p>
          <label for="residencePostCode">Tartózkodási hely irányítószám</label>
          <input type="text" class="form-control" id="residencePostCode" formControlName="residencePostCode">
        </p>
        <p>
          <label for="residenceCity">Tartózkodási hely város</label>
          <input type="text" class="form-control" id="residenceCity" formControlName="residenceCity">
        </p>
        <p>
          <label for="residenceStreet">Tartózkodási hely utca</label>
          <input type="text" class="form-control" id="residenceStreet" formControlName="residenceStreet">
        </p>
        <p>
          <label for="residenceNumber">Tartózkodási hely házszám</label>
          <input type="text" class="form-control" id="residenceNumber" formControlName="residenceNumber">
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary w-100">Felvétel</button>
    </div>
  </form>
</ng-template>
